= simple_form_for @tile, :html => {:multiplart => true} do |f|
  - if @tile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tile.errors.count, "error")} prohibited this tile from being saved:"
      %ul
        - @tile.errors.full_messages.each do |msg|
          %li= msg
  = f.input :name
  = f.input :media_type, :as => :select, :collection => Tile.media_types, :html => {:class => 'dropdown-toggle'}

  = f.input :group_id, :as => :select, :collection => Group.all, :label_method => :name, :label => "Select Group", :include_blank => true, :html => {:class => 'dropdown-toggle'}

  = f.input :vimeo_id, :label => "Vimeo ID", :input_html => {:value => tiles_input(@tile, @title) }
  = f.input :size, :as => :select, :collection => (1..12), :selected => (@tile.size.present? ? @tile.size : "3")

  = f.input :background_color, :label => "Modal background color"

  = f.input :lyrics, :as => :ckeditor
  
  - if @tile.id.present?
    = f.input :image, :as => :file

  = render 'sizing_info'
  .actions
    = f.submit 'Save', :class => 'btn btn-success'
