.tile_admin
  .saving
    %h3 Hold on...
    %p
      We are:
    %ul 
      %li uploading the original image to a safe place
      %li creating different sizes for the image
      %li uploading the newly sized versions
    %p 
      Please be patient!
    = render 'shared/loading'
  .upload_area
    %h1
      = "Upload image for #{@tile.name}"

    = render 'sizing_info'

    - if @tile.image.present?
      %p= "Current filename: #{@tile.image_name}"

    = simple_form_for @tile, :html => {:multiplart => true, :onsubmit => "test()"} do |f|
      %p
        - if @tile.id.present?
          = f.file_field :image
      %p
        .actions
          = f.submit 'Save', :class => 'btn btn-primary'

:javascript 
  $('.saving').hide();
  function test()
  {
    $('.upload_area').hide();
    $('.saving').show();
  }