.tile_admin
  %h1.heading Live Tiles

  %ul.sortable.tiles
    - @tiles.each do |tile|
      %li.ui-state-default.live.tile{"data-tile-id" => "#{tile.id}"}
        %h4.tile_name
          = link_to tile.name, tile
        %p= tile.image_name
        %p="Size: #{tile.size}"
        / = tile.media_url
        = link_to 'Edit', edit_tile_path(tile), :class => 'btn btn-primary btn-xs'
        = link_to 'Destroy', tile, :method => :delete, :data => { :confirm => 'Are you sure?' },:class => 'btn btn-danger btn-xs'

  %p
    Remember - The sizing convention is based on rows of size 12. This means that each row should add up in size to 12. 


  %h1.heading Top Secret Tiles
  %ul.tiles
    - @secret_tiles.each do |tile|
      %li.tile.secret
        %h3
          = link_to tile.name, tile
        = link_to 'Edit', edit_tile_path(tile)
        = link_to 'Destroy', tile, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %br

  = link_to 'New Tile', new_tile_path, :class => 'btn btn-default new_tile'


:javascript
  $(function()
  {
    window.TILE_ADMIN = function(){ }

    TILE_ADMIN.prototype = {
      init: function() 
      {
        $('.sortable').sortable(
        {
          update: function(event, ui)
          {
            var ordered = {};
            $.each($('.sortable li'), function(rank, tile)
            {
              ordered[$(tile).data('tile-id')] = rank;
            });

            $.post('/tiles/reorder', {"tiles": ordered});

          }
        });
      }
    }

    var admin = new TILE_ADMIN();
    admin.init();
  })

