%p#notice= notice


%h1= @tile.name

/ = image_tag @tile.image_url(:thumb)
= image_tag @tile.image_url

%p
	%b Media type:
	= @tile.media_type


%p 
	%b Media Url
	%a{:href => "#{@tile.media_url}"}
		= @tile.media_url

%p 
	- if @tile.size.present?
		%b Size
		= @tile.size


- if @tile.published
	%p
		This tile is public
- else 
	%p
		This has not yet been published. 
	= simple_form_for :tile, :url => publish_tile_path do |f|
		= f.submit "Publish Tile"






= direct_upload_form_for @uploader do |f|
	%p= f.file_field :image
	%p= f.submit "Upload Image"


= link_to 'Edit', edit_tile_path(@tile)
\|
= link_to 'Back', tiles_path
