%h1= @tile.name

= image_tag @tile.image_url
= image_tag @tile.image_url(:thumb)
%p
	%b Media type:
	= @tile.media_type


%p 
	%b Media Url
	%a{:href => "#{@tile.media_url}"}
		= @tile.media_url

%p 
	- if @tile.size.present?
		%b Size
		= @tile.size



- if @tile.image.present?
	= @tile.image_name
	%br 
	= link_to "Change Image", edit_image_tile_url(@tile), :class => 'btn btn-primary'
- else
	= link_to "Add image to this tile", edit_image_tile_url(@tile), :class => 'btn btn-primary'
%br

- if @tile.published
	%p
		This tile is public
- else 
	%p
		This has not yet been published. 
	= simple_form_for :tile, :url => publish_tile_path do |f|
		= f.submit "Publish Tile", :class => 'btn btn-primary'

%br

= link_to 'Edit', edit_tile_path(@tile)
\|
= link_to 'Back', tiles_path
