= simple_form_for @group do |f|
  - if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name
  = f.input :group_type, :as => :select, :collection => Group.group_types, :html => {:class => 'dropdown-toggle'}, :default => 'album'
  = f.input :published, :default => @group.published

  .actions
    = f.submit 'Save', :class => 'btn btn-success'
