
.row.header
  .logo.col-md-4.col-xs-10
    ZE REP TILES

  / .play.glow_btn.col-md-1.col-xs-1

  / DO SOME CACHING HERE -  
  - groups = Group.all
  - if groups.count > 1
    %span.groups
      - groups.each do |group| 
        %i.icon-circle{"data-group-id" => "#{group.id}", :class => "album_btn"}


  .icons
    %i.icon-facebook-sign
    %i.icon-twitter
    %i.icon-tumblr
    %i.icon-cloud
= render 'shared/loading'
.tiles_area


.modal{id: "full_tile_modal", "aria-hidden" => true, "tab-index" => "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        = render 'shared/loading'

:javascript
  var media_control = new AUDIO_CONTROL();
  var layout = new TILE_LAYOUT();
  var group_manager = new GROUP_MANAGER();
  $(function() {

    group_manager.init('#{@tiles.to_a.to_json(:methods => :thumb, :except => [ :lyrics])}', "#{@group.id}");
    media_control.init(); 
    layout.init(group_manager, media_control);

    $('.loader').hide();
    $('.tiles_area').show();
  });
