.tile_admin
  %h1 Listing groups

  %ul.groups
    - @groups.each do |group|
      %li.group.ui-state-default
        %h4= group.name
        %p= "Public: #{group.published.to_s}"
        = link_to 'Show', group, :class => 'btn btn-xs'
        = link_to 'Edit', edit_group_path(group), :class => 'btn btn-primary btn-xs'
        = link_to 'Destroy', group, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger btn-xs'

  %br

  = link_to 'New Group', new_group_path, :class => 'btn btn-primary'
